{% extends 'base.html' %}

{% block content %}
<head>
	<title>Suraksha</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="app.css">

</head>
<div class="container">
<div class="jumbotron" id = "jumbo">
  
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-12-md">
      <i class="fas fa-taxi fa-5x"></i>
      <br>
      <br>

      
  <div id = "aboutme">
    
  <p> Suraksha is a women-only cab service application where most of the cabs are driven by women drivers and the services are also provided to only female passengers. These passengers naturally feel safe in the cab.<strong> The motive of the webservice is Women Safety and Woman Empowerment</strong>. </p>
  
    <p>
     This website was developed using the Django framework in the backend and html5 and css as frontend. Suraksha helps connect riders with drivers and provide a safe ourney option.
    </p>

    <p>
      Feel free to contact us. Hope you enjoyed using Suraksha.
      <br>
       <a href="mailto:ariesshilz@gmail.com"><bold> Aries Shilz, <bold> </a></li>
       <a href="mailto:ckanafie@gmail.com"> <bold> Abdul Nafie </bold></li>
    </p>

</div>


 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
 <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</body>



{% endblock %}